.AgeForm {
  @include flex-column;
  margin: 10% auto;
  width:500px;
  min-width: 300px;
  padding: 40px;
  background-color: #FFFFFF;

  h2 {
     margin: 0 0 15px 0;
     text-align: center;
  }
  
  label {
    @include flex-column;
    margin: 0 0 2px 0;
  }
  .signin-btn {
    @include form-submit;
    background-color: #724695;
    border: 2px solid #724695;
  }

  #dob {
    @include form-input-style;
    width: 420px;
    margin-top: 25px;
  }

}
