.AgeForm {
  @include form-style;

  h2 {
     margin: 0 0 15px 0;
     text-align: center;
  }
  
  label {
    @include flex-column;
  }

  .signin-btn {
    @include form-submit(#724695);
  }

  input.date-picker {
    @include form-input-style;

    width: 420px;
    margin-top: 25px;
  }
}
