.VenueSearchBar {
  text-align: left;
  padding: 6%;

  h3 {
    font-size: 2rem;
    color: #ffffff;
    font-weight: 400;
  }

  p {
    color: #ffffff;
    margin: 5px 0;
    font-weight: 300;
  }

  input,
  button {
    margin: 30px 30px 0 0;
    height: 2rem;
    font-size: 1rem;
  }

  button {
    width: 150px;
    background-color: $footer-color;
    border: 2px solid $footer-color;
    color: #ffffff;
  }

  input {
    width: 300px;
  }
}