$footer-color: #ED684A;
$primary-color: #49B749;

@mixin lato-font {
  font-family: 'Lato', sans-serif;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin form-style {
  @include flex-column;

  margin: 10% auto;
  width: 500px;
  min-width: 300px;
  padding: 40px;
  background-color: #FFFFFF;
}

@mixin form-label-style {
  @include flex-column;

  margin: 0 0 2px 0;
  color: #333532;
}

@mixin form-input-style {
  border: 2px solid #999999;
  font-size: 1em;
  margin: 0 0 10px 0;
  padding: 10px;
}

@mixin form-error-msg {
  height: 16px;
  text-align: center;
  text-transform: uppercase;
}

@mixin form-submit($color) {
  color: white;
  background: $color;
  border: 2px solid $color;
  font-size: 1em;
  margin: 10px 0 0 0;
  padding: 10px;
}
