@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin form-input-style {
  border: 2px solid black;
  font-size: 1em;
  margin: 0 0 10px 0;
  padding: 10px;
}

@mixin form-submit {
  background: black;
  border: 2px solid black;
  color: white;
  font-size: 1em;
  margin: 20px 0 0 0;
  padding: 10px;
}