* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

div.App {
  @include lato-font;
  height: 100vh;
  width: 100vw;
  background-color: #EEEEEE;
    
  h1 {
    color: red;
  }
}
