* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #EEEEEE;
}

div.App {
  @include lato-font;
  width: 100vw;
  background-color: #EEEEEE;
}

a,
button {
  cursor: pointer;
}