.LoginForm {
  @include flex-column;
  margin: 0 auto;
  width: 50%;

  h2 {
    margin: 0 0 15px 0;
  }

  label {
    @include flex-column;
    margin: 0 0 2px 0;
  }

  #username-input,
  #password-input {
    @include form-input-style
  }

  .signin-btn {
    @include form-submit
  }  
}