.LoginForm {
  @include flex-column;
  margin: 10% auto;
  width: 500px;
  min-width: 300px;
  padding: 40px;
  background-color: #FFFFFF;

  h2 {
    margin: 0 0 15px 0;
    text-align: center;
  }

  label {
    @include flex-column;
    margin: 0 0 2px 0;
    color: #333532;
  }

  #username-input,
  #password-input {
    @include form-input-style
  }

  .signin-btn {
    @include form-submit;
    background-color: $orange;
  }

  .register-link {
    text-align: center;
    margin: 15px 15px 0 15px;

    span {
      color: #000000;
    }
  }
}