.StudentDashContainer {
  background: #FFFFFF;
  width:80%;
  margin: 0 auto;
  min-height: 100vh;
  height:100%;

  .studentDashHeader {
    background-color: #724695;
    width: 100%;
    padding: 4% 8%;
    display: flex;
    align-items: center;
    color:#FFFFFF;
  }

  h2 {
    font-weight: 400;
  }

  .student-dash-main {
    padding: 2% 8%;
  }

  h3 {
    margin: 10px 0;
  }

  .eventWrapper {
    display: flex;
    justify-content: space-around;
    border: 2px solid #CCCCCC;
    margin: 10px auto;
    width: 100%;
    min-width: 300px;
    padding: 40px;
    background-color: #FFFFFF;
  }

  .eventCode {
    @include form-input-style;
    border: 2px solid #CCCCCC;
    width:300px;
  }

  .eventCode::placeholder {
    text-align: center;
  }

  button {
    @include form-submit($primary-color);
    background-color: $footer-color;
    border-color:  $footer-color;
    margin-left: 60px;
    width: 150px;
  }

  .pastEvents {
    @include flex-column;
    overflow: scroll;
  }

  .no-events {
    color: #999999;
  }
}
