.Splash {
  width: 80%;
  margin: auto;
  min-width: 350px; 
}

.Splash-container {
  text-align: center;
  margin: 100px 0 0 0;
}

.main-splash-img {
  width: 85%;
  margin-top: 100px;
}

.main-splash-img {
  width: 80%;
  position: relative;
  bottom: -4px;
}

.green-container {
  background: $primary-color;
  height: 300px;
  margin: 0 auto;
  padding: 6%;
}
