.Splash {
  padding: 0 125px;
}

.Splash-container {
  text-align: center;
  margin-top: 100px;
}

.main-splash-img {
  width: 80%;
  position: relative;
  bottom: -4px;
}

.green-container {
  background: $primary-color;
  height: 325px;
  margin: 0 auto;
}
