header {
  background: #FFFFFF;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 125px;

  section {
    display: flex;
  }
}

header a {
  text-decoration: none;

  &:hover {
    color: $primary-color;
  }
}

.logo-a-tag {
  display: inherit;
}

.logo {
  height: 50px;
  width: 250px;
  margin-right: 2px;
}

.nav-link {
  margin-right: 55px;
  font-size: 16px;
  font-weight: 500;
  font-family: Lato;
  color: #000;

  &:last-child {
    margin-right: 0;
  }
}
