.Footer {
  height: 200px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;

  section.social-media {
    width: 100vw;
    background-color: $footer-color;
  }

  .globe {
    position: absolute;
    bottom: 55%;
    width: 20%;
    min-width: 200px;
  }

  .icon-container {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
        
    img {
      width: 30px;
      margin: 5px;
      opacity: .8;
    }
  }
}