.Footer {
  background: #000000;
  bottom: 0;
  padding: 10px 0;
  position: fixed;
  width: 100%;

  .icon-container {
    width: 100%;
    text-align: center;
        
    img {
      width: 30px;
      margin: 0 10px;
      opacity: .7;
    }
  }
}