.RegisterForm {
  @include form-style;

  h2 {
    margin: 0 0 15px 0;
    text-align: center;
  }
  
  label {
    @include form-label-style;
  }
  
  .signin-btn {
    @include form-submit(#724695);
  }

  .guardian-btn {
    background-color: #ED684A;
    border: 2px solid #ED684A;

  }

  #full-name-input,
  #username-input,
  #password-input,
  #reentered-password-input {
    @include form-input-style
  }
}