{
  "rules": {
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/forbid-prop-types": "disabled",
    "comma-dangle": ["error", "never"],
    "max-lines-per-function": "off",
    "no-trailing-spaces": 0,
    "import/no-named-as-default": 0,
    "react/self-closing-comp": "off",
    "no-else-return": "off",
    "no-alert": "off",
    "object-curly-newline": "off",
    "react-hooks/exhaustive-deps": "off",
    "consistent-return": "off",
    "max-len": 0,
    "jsx-a11y/label-has-for": "off",
    "jsx-a11y/label-has-associated-control": "off"

  }
}